In [99]:
#import dependencies
import pandas as pd
from config import password

In [2]:
# URls to pull data from
qb_2020_projections = 'https://www.fantasypros.com/nfl/projections/qb.php'

In [3]:
#read table from url
table = pd.read_html(qb_2020_projections, header=1)
table

[                 Player    ATT    CMP     YDS   TDS  INTS  ATT.1  YDS.1  \
 0     Lamar Jackson BAL  468.4  300.8  3480.2  28.8  11.6  159.5  955.2
 1    Patrick Mahomes KC  569.1  371.5  4572.4  34.2  10.7   57.3  297.5
 2      Dak Prescott DAL  572.0  372.4  4495.8  28.9  12.0   60.4  259.1
 3    Deshaun Watson HOU  527.2  346.5  4020.4  26.1  12.7   91.3  496.3
 4    Russell Wilson SEA  491.5  320.9  3892.5  29.6   8.5   71.9  376.6
 ..                  ...    ...    ...     ...   ...   ...    ...    ...
 97       Davis Webb BUF    0.0    0.0     0.0   0.0   0.0    0.0    0.0
 98     Nate Stanley MIN    0.0    0.0     0.0   0.0   0.0    0.0    0.0
 99     Brett Rypien DEN    0.0    0.0     0.0   0.0   0.0    0.0    0.0
 100      Jake Luton JAC    0.0    0.0     0.0   0.0   0.0    0.0    0.0
 101    Easton Stick LAC    0.0    0.0     0.0   0.0   0.0    0.0    0.0

      TDS.1   FL   FPTS
 0      5.9  3.4  355.2
 1      3.0  2.1  341.9
 2      3.7  2.8  314.1
 3      4.6  2.6  312.0
 4      2.3  2.3  303.9
 ..     ...  ...    ...
 97     0.0  0.0    0.0
 98     0.0  0.0    0.0
 99     0.0  0.0    0.0
 100    0.0  0.0    0.0
 101    0.0  0.0    0.0

 [102 rows x 11 columns],    Unnamed: 0  Site Projections  CBS Sports  8/18
 0         NaN  Site Projections        ESPN  8/18
 1         NaN  Site Projections  numberFire  8/18
 2         NaN  Site Projections     FFToday  8/18
 3         NaN  Site Projections     NFL.com  8/09]

In [4]:
QB_2020 = table[0]

QB_2020 = QB_2020.rename(columns={"ATT.1": "RUSH_ATT", "YDS.1": "RUSH_YDS", 'TDS.1': 'RUSH_TDS'})

QB_2020

,Player,ATT,CMP,YDS,TDS,INTS,RUSH_ATT,RUSH_YDS,RUSH_TDS,FL,FPTS
0,Lamar Jackson BAL,468.4,300.8,3480.2,28.8,11.6,159.5,955.2,5.9,3.4,355.2
1,Patrick Mahomes KC,569.1,371.5,4572.4,34.2,10.7,57.3,297.5,3.0,2.1,341.9
2,Dak Prescott DAL,572.0,372.4,4495.8,28.9,12.0,60.4,259.1,3.7,2.8,314.1
3,Deshaun Watson HOU,527.2,346.5,4020.4,26.1,12.7,91.3,496.3,4.6,2.6,312.0
4,Russell Wilson SEA,491.5,320.9,3892.5,29.6,8.5,71.9,376.6,2.3,2.3,303.9
...,...,...,...,...,...,...,...,...,...,...,...
97,Davis Webb BUF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,Nate Stanley MIN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,Brett Rypien DEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,Jake Luton JAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,Easton Stick LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# URls to pull data from
qb_2019_stats = 'https://www.fantasypros.com/nfl/stats/qb.php'

#read table from url
table = pd.read_html(qb_2019_stats, header=1)
table
qb_2019 = table[0]

qb_2019 = qb_2019.rename(columns={"ATT.1": "RUSH_ATT", "YDS.1": "RUSH_YDS", 'TD.1': 'RUSH_TDS'})

qb_2019

,Rank,Player,CMP,ATT,PCT,YDS,Y/A,TD,INT,SACKS,RUSH_ATT,RUSH_YDS,RUSH_TDS,FL,G,FPTS,FPTS/G,OWN
0,1,Lamar Jackson (BAL),265,401,66.1,3127,7.8,36,6,23,176,1206,7,2,15,421.7,28.1,100.0%
1,2,Dak Prescott (DAL),388,596,65.1,4902,8.2,30,11,23,52,277,3,2,16,348.9,21.8,98.1%
2,3,Jameis Winston (NO),380,626,60.7,5109,8.2,33,30,47,59,250,1,5,16,335.2,21.0,4.2%
3,4,Russell Wilson (SEA),341,516,66.1,4110,8.0,31,5,48,75,342,3,2,16,333.5,20.8,99.3%
4,5,Deshaun Watson (HOU),333,495,67.3,3852,7.8,26,12,44,82,413,7,3,15,332.0,22.1,99.3%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,136,Tim Boyle (GB),3,4,75.0,15,3.8,0,0,0,5,-7,0,0,3,-0.1,-0.0,0.0%
136,137,Garrett Gilbert (CLE),0,3,0.0,0,0.0,0,0,0,3,-3,0,0,6,-0.3,-0.1,0.0%
137,138,Nick Mullens (SF),0,0,0.0,0,0.0,0,0,0,3,-3,0,0,2,-0.3,-0.2,0.1%
138,139,Jarrett Stidham (NE),2,4,50.0,14,3.5,0,1,1,2,-2,0,0,3,-0.6,-0.2,4.2%
139,140,Blake Bortles (FA),1,2,50.0,3,1.5,0,0,0,2,-9,0,0,4,-0.8,-0.2,0.1%

In [6]:
position_links = []

for position in ['qb', 'wr', 'rb', 'te']:

    stats_2019 = f'https://www.fantasypros.com/nfl/stats/{position}.php'

    position_links.append(stats_2019)

print(len(position_links))

4

In [7]:
position_tables = []

for link in position_links:
    #read table from url
    table = pd.read_html(link, header=1)
    position_tables.append(table)

print(len(position_tables))

4

In [8]:
cleaned_tables = []

for table in position_tables:
    table = table[0]
    cleaned_tables.append(table)

In [9]:
cleaned_dfs = []

In [10]:
# Clean QB Data

qb_2019 = cleaned_tables[0]

qb_2019 = qb_2019.rename(columns={"ATT.1": "RUSH_ATT", "YDS.1": "RUSH_YDS", 'TD.1': 'RUSH_TDS'})

qb_2019

,Rank,Player,CMP,ATT,PCT,YDS,Y/A,TD,INT,SACKS,RUSH_ATT,RUSH_YDS,RUSH_TDS,FL,G,FPTS,FPTS/G,OWN
0,1,Lamar Jackson (BAL),265,401,66.1,3127,7.8,36,6,23,176,1206,7,2,15,421.7,28.1,100.0%
1,2,Dak Prescott (DAL),388,596,65.1,4902,8.2,30,11,23,52,277,3,2,16,348.9,21.8,98.1%
2,3,Jameis Winston (NO),380,626,60.7,5109,8.2,33,30,47,59,250,1,5,16,335.2,21.0,4.2%
3,4,Russell Wilson (SEA),341,516,66.1,4110,8.0,31,5,48,75,342,3,2,16,333.5,20.8,99.3%
4,5,Deshaun Watson (HOU),333,495,67.3,3852,7.8,26,12,44,82,413,7,3,15,332.0,22.1,99.3%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,136,Tim Boyle (GB),3,4,75.0,15,3.8,0,0,0,5,-7,0,0,3,-0.1,-0.0,0.0%
136,137,Garrett Gilbert (CLE),0,3,0.0,0,0.0,0,0,0,3,-3,0,0,6,-0.3,-0.1,0.0%
137,138,Nick Mullens (SF),0,0,0.0,0,0.0,0,0,0,3,-3,0,0,2,-0.3,-0.2,0.1%
138,139,Jarrett Stidham (NE),2,4,50.0,14,3.5,0,1,1,2,-2,0,0,3,-0.6,-0.2,4.2%
139,140,Blake Bortles (FA),1,2,50.0,3,1.5,0,0,0,2,-9,0,0,4,-0.8,-0.2,0.1%

In [11]:
# Clean RB Data

rb_2019 = cleaned_tables[1]

rb_2019 = rb_2019.rename(columns={"YDS.1": "REC_YDS", 'TD.1': 'REC_TDS'})

rb_2019

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,REC_YDS,REC_TDS,FL,G,FPTS,FPTS/G,OWN
0,1,Michael Thomas (NO),149,185,1725,11.6,49,17,9,1,-9,0,0,16,225.6,14.1,100.0%
1,2,Chris Godwin (TB),86,121,1333,15.5,71,25,9,1,8,0,0,14,190.1,13.6,99.9%
2,3,Kenny Golladay (DET),65,116,1190,18.3,75,22,11,0,0,0,1,16,183.0,11.4,99.1%
3,4,Cooper Kupp (LAR),94,134,1161,12.4,66,21,10,2,4,0,0,16,176.5,11.0,97.1%
4,5,Julio Jones (ATL),99,157,1394,14.1,54,21,6,2,-3,0,0,15,175.1,11.7,100.0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,455,Darrius Shepherd (GB),1,2,1,1.0,1,0,0,0,0,0,1,6,-1.9,-0.3,0.0%
455,456,Greg Dortch (FA),0,0,0,0.0,0,0,0,0,0,0,1,2,-2.0,-1.0,0.0%
456,457,Ray-Ray McCloud (FA),0,0,0,0.0,0,0,0,0,0,0,1,6,-2.0,-0.3,0.0%
457,458,Quincy Enunwa (FA),1,3,-4,-4.0,8,0,0,0,0,0,1,1,-2.4,-2.4,0.1%
458,459,Michael Walker (JAC),2,3,15,7.5,9,0,0,0,0,0,2,7,-2.5,-0.4,0.0%

In [12]:
# Clean WR Data

wr_2019 = cleaned_tables[2]

wr_2019 = wr_2019.rename(columns={"YDS.1": "RUSH_YDS", 'TD.1': 'RUSH_TDS'})

wr_2019

,Rank,Player,ATT,YDS,Y/A,LG,20+,TD,REC,TGT,RUSH_YDS,Y/R,RUSH_TDS,FL,G,FPTS,FPTS/G,OWN
0,1,Christian McCaffrey (CAR),287,1387,4.8,84,6,15,116,142,1005,8.7,4,0,16,355.2,22.2,100.0%
1,2,Derrick Henry (TEN),303,1540,5.1,74,9,16,18,24,206,11.4,2,3,15,276.6,18.4,100.0%
2,3,Aaron Jones (GB),236,1084,4.6,56,5,16,49,68,474,9.7,3,2,16,265.8,16.6,99.9%
3,4,Ezekiel Elliott (DAL),301,1357,4.5,33,4,12,54,71,420,7.8,2,2,16,257.7,16.1,100.0%
4,5,Dalvin Cook (MIN),250,1135,4.5,75,7,13,53,63,519,9.8,0,2,14,239.4,17.1,100.0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,277,David Fluellen (FA),0,0,0.0,0,0,0,0,0,0,0.0,0,0,2,0.0,0.0,0.0%
277,278,Tim Flanders (NO),0,0,0.0,0,0,0,0,0,0,0.0,0,0,0,0.0,0.0,0.0%
278,279,Jerick McKinnon (SF),0,0,0.0,0,0,0,0,0,0,0.0,0,0,0,0.0,0.0,9.3%
279,280,Willie Carter (CHI),0,0,0.0,0,0,0,0,0,0,0.0,0,0,0,0.0,0.0,0.0%
280,281,Corey Clement (PHI),0,0,0.0,0,0,0,0,0,0,0.0,0,2,4,-4.0,-1.0,0.3%

In [13]:
# Clean TE Data

te_2019 = cleaned_tables[3]

te_2019 = te_2019.rename(columns={"YDS.1": "RUSH_YDS", 'TD.1': 'RUSH_TDS'})

te_2019

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,RUSH_YDS,RUSH_TDS,FL,G,FPTS,FPTS/G,OWN
0,1,Travis Kelce (KC),97,136,1229,12.7,47,13,5,1,4,1,1,16,157.3,9.8,100.0%
1,2,Mark Andrews (BAL),64,98,852,13.3,51,16,10,0,0,0,1,15,143.2,9.5,99.6%
2,3,George Kittle (SF),85,107,1053,12.4,61,16,5,5,22,0,0,14,137.5,9.8,99.9%
3,4,Darren Waller (LV),90,117,1145,12.7,75,14,3,2,5,0,1,16,131.0,8.2,98.4%
4,5,Zach Ertz (PHI),88,135,916,10.4,30,12,6,0,0,0,1,15,127.6,8.5,99.9%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,243,Richard Rodgers (WAS),0,0,0,0.0,0,0,0,0,0,0,0,2,0.0,0.0,0.0%
243,244,Erik Swoope (FA),0,0,0,0.0,0,0,0,0,0,0,0,1,0.0,0.0,0.0%
244,245,Jordan Reed (SF),0,0,0,0.0,0,0,0,0,0,0,0,1,0.0,0.0,0.8%
245,246,Dion Sims (FA),0,0,0,0.0,0,0,0,0,0,0,0,1,0.0,0.0,0.0%
246,247,Connor Davis (NYJ),0,0,0,0.0,0,0,0,0,0,0,0,0,0.0,0.0,0.0%

In [14]:
# cleaned_dfs.append([qb_2019, rb_2019, wr_2019, te_2019])
# team_lists = []

for df in [qb_2019, rb_2019, wr_2019, te_2019]:
    #Split out Player Name and store in a temporary dataframe
    temp_df = df['Player'].str.split('(', n=1, expand=True)

    #add first name and last name to original salary dataframe
    df['Team_Name'] = temp_df[1]
    
    df['Team_Name'] = df['Team_Name'].str.strip(')')

    df['Player'] = df['Player'].str.split('(').str[0]
    
    df['Player'] = df['Player'].str.rstrip()

In [15]:
rb_2019

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,REC_YDS,REC_TDS,FL,G,FPTS,FPTS/G,OWN,Team_Name
0,1,Michael Thomas,149,185,1725,11.6,49,17,9,1,-9,0,0,16,225.6,14.1,100.0%,NO
1,2,Chris Godwin,86,121,1333,15.5,71,25,9,1,8,0,0,14,190.1,13.6,99.9%,TB
2,3,Kenny Golladay,65,116,1190,18.3,75,22,11,0,0,0,1,16,183.0,11.4,99.1%,DET
3,4,Cooper Kupp,94,134,1161,12.4,66,21,10,2,4,0,0,16,176.5,11.0,97.1%,LAR
4,5,Julio Jones,99,157,1394,14.1,54,21,6,2,-3,0,0,15,175.1,11.7,100.0%,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,455,Darrius Shepherd,1,2,1,1.0,1,0,0,0,0,0,1,6,-1.9,-0.3,0.0%,GB
455,456,Greg Dortch,0,0,0,0.0,0,0,0,0,0,0,1,2,-2.0,-1.0,0.0%,FA
456,457,Ray-Ray McCloud,0,0,0,0.0,0,0,0,0,0,0,1,6,-2.0,-0.3,0.0%,FA
457,458,Quincy Enunwa,1,3,-4,-4.0,8,0,0,0,0,0,1,1,-2.4,-2.4,0.1%,FA
458,459,Michael Walker,2,3,15,7.5,9,0,0,0,0,0,2,7,-2.5,-0.4,0.0%,JAC

In [16]:
qb_2019

,Rank,Player,CMP,ATT,PCT,YDS,Y/A,TD,INT,SACKS,RUSH_ATT,RUSH_YDS,RUSH_TDS,FL,G,FPTS,FPTS/G,OWN,Team_Name
0,1,Lamar Jackson,265,401,66.1,3127,7.8,36,6,23,176,1206,7,2,15,421.7,28.1,100.0%,BAL
1,2,Dak Prescott,388,596,65.1,4902,8.2,30,11,23,52,277,3,2,16,348.9,21.8,98.1%,DAL
2,3,Jameis Winston,380,626,60.7,5109,8.2,33,30,47,59,250,1,5,16,335.2,21.0,4.2%,NO
3,4,Russell Wilson,341,516,66.1,4110,8.0,31,5,48,75,342,3,2,16,333.5,20.8,99.3%,SEA
4,5,Deshaun Watson,333,495,67.3,3852,7.8,26,12,44,82,413,7,3,15,332.0,22.1,99.3%,HOU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,136,Tim Boyle,3,4,75.0,15,3.8,0,0,0,5,-7,0,0,3,-0.1,-0.0,0.0%,GB
136,137,Garrett Gilbert,0,3,0.0,0,0.0,0,0,0,3,-3,0,0,6,-0.3,-0.1,0.0%,CLE
137,138,Nick Mullens,0,0,0.0,0,0.0,0,0,0,3,-3,0,0,2,-0.3,-0.2,0.1%,SF
138,139,Jarrett Stidham,2,4,50.0,14,3.5,0,1,1,2,-2,0,0,3,-0.6,-0.2,4.2%,NE
139,140,Blake Bortles,1,2,50.0,3,1.5,0,0,0,2,-9,0,0,4,-0.8,-0.2,0.1%,FA

In [72]:
# URls to pull data from
sos_table = 'https://www.fantasypros.com/nfl/strength-of-schedule.php'

#read table from url
table = pd.read_html(sos_table, header=0)
table

[   Team                                                 QB  \
 0   ARI  This is a 3 star matchup. ARI has a neutral sc...
 1   ATL  This is a 1 star matchup. ATL has a tough sche...
 2   BAL  This is a 4 star matchup. BAL has an easy sche...
 3   BUF  This is a 1 star matchup. BUF has a tough sche...
 4   CAR  This is a 4 star matchup. CAR has an easy sche...
 5   CHI  This is a 5 star matchup. CHI has an easy sche...
 6   CIN  This is a 4 star matchup. CIN has an easy sche...
 7   CLE  This is a 5 star matchup. CLE has an easy sche...
 8   DAL  This is a 4 star matchup. DAL has an easy sche...
 9   DEN  This is a 1 star matchup. DEN has a tough sche...
 10  DET  This is a 3 star matchup. DET has a neutral sc...
 11   GB  This is a 4 star matchup. GB has an easy sched...
 12  HOU  This is a 2 star matchup. HOU has a tough sche...
 13  IND  This is a 4 star matchup. IND has an easy sche...
 14  JAC  This is a 3 star matchup. JAC has a neutral sc...
 15   KC  This is a 2 star matchup. KC has a neutral sch...
 16  MIA  This is a 1 star matchup. MIA has a tough sche...
 17  MIN  This is a 3 star matchup. MIN has a neutral sc...
 18   NE  This is a 2 star matchup. NE has a neutral sch...
 19   NO  This is a 2 star matchup. NO has a tough sched...
 20  NYG  This is a 3 star matchup. NYG has a neutral sc...
 21  NYJ  This is a 2 star matchup. NYJ has a tough sche...
 22   LV  This is a 1 star matchup. LV has a tough sched...
 23  PHI  This is a 4 star matchup. PHI has an easy sche...
 24  PIT  This is a 4 star matchup. PIT has an easy sche...
 25  LAC  This is a 4 star matchup. LAC has an easy sche...
 26  SEA  This is a 4 star matchup. SEA has an easy sche...
 27   SF  This is a 4 star matchup. SF has a neutral sch...
 28  LAR  This is a 3 star matchup. LAR has a neutral sc...
 29   TB  This is a 2 star matchup. TB has a tough sched...
 30  TEN  This is a 2 star matchup. TEN has a tough sche...
 31  WAS  This is a 4 star matchup. WAS has an easy sche...

                                                    RB  \
 0   This is a 3 star matchup. ARI has a neutral sc...
 1   This is a 3 star matchup. ATL has a neutral sc...
 2   This is a 4 star matchup. BAL has an easy sche...
 3   This is a 1 star matchup. BUF has a tough sche...
 4   This is a 1 star matchup. CAR has a tough sche...
 5   This is a 3 star matchup. CHI has a neutral sc...
 6   This is a 4 star matchup. CIN has an easy sche...
 7   This is a 4 star matchup. CLE has an easy sche...
 8   This is a 3 star matchup. DAL has a neutral sc...
 9   This is a 3 star matchup. DEN has a neutral sc...
 10  This is a 3 star matchup. DET has a neutral sc...
 11  This is a 1 star matchup. GB has a tough sched...
 12  This is a 3 star matchup. HOU has a neutral sc...
 13  This is a 5 star matchup. IND has an easy sche...
 14  This is a 5 star matchup. JAC has an easy sche...
 15  This is a 1 star matchup. KC has a tough sched...
 16  This is a 3 star matchup. MIA has a neutral sc...
 17  This is a 3 star matchup. MIN has a neutral sc...
 18  This is a 5 star matchup. NE has an easy sched...
 19  This is a 0 star matchup. NO has a tough sched...
 20  This is a 2 star matchup. NYG has a tough sche...
 21  This is a 4 star matchup. NYJ has an easy sche...
 22  This is a 3 star matchup. LV has a neutral sch...
 23  This is a 3 star matchup. PHI has a neutral sc...
 24  This is a 5 star matchup. PIT has an easy sche...
 25  This is a 3 star matchup. LAC has a neutral sc...
 26  This is a 2 star matchup. SEA has a tough sche...
 27  This is a 3 star matchup. SF has a neutral sch...
 28  This is a 1 star matchup. LAR has a tough sche...
 29  This is a 3 star matchup. TB has a neutral sch...
 30  This is a 3 star matchup. TEN has a neutral sc...
 31  This is a 4 star matchup. WAS has a neutral sc...

                                                    WR  \
 0   This is a 4 star matchup. ARI has a neutral sc...
 1   This is a 3 star matchup. ATL has a neutral sc...
 2   This is a 1 star matchup. BAL has a tough sche...
 3   This is a 2 star matchup. BUF has a tough sche...
 4   This is a 4 star matchup. CAR has an easy sche...
 5   This is a 5 star matchup. CHI has an easy sche...
 6   This is a 3 star matchup. CIN has a neutral sc...
 7   This is a 4 star matchup. CLE has an easy sche...
 8   This is a 4 star matchup. DAL has a neutral sc...
 9   This is a 2 star matchup. DEN has a neutral sc...
 10  This is a 3 star matchup. DET has a neutral sc...
 11  This is a 5 star matchup. GB has an easy sched...
 12  This is a 1 star matchup. HOU has a tough sche...
 13  This is a 4 star matchup. IND has an easy sche...
 14  This is a 3 star matchup. JAC has a neutral sc...
 15  This is a 4 star matchup. KC has a neutral sch...
 16  This is a 1 star matchup. MIA has a tough sche...
 17  This is a 3 star matchup. MIN has a neutral sc...
 18  This is a 3 star matchup. NE has a neutral sch...
 19  This is a 4 star matchup. NO has an easy sched...
 20  This is a 3 star matchup. NYG has a neutral sc...
 21  This is a 1 star matchup. NYJ has a tough sche...
 22  This is a 2 star matchup. LV has a tough sched...
 23  This is a 2 star matchup. PHI has a neutral sc...
 24  This is a 2 star matchup. PIT has a tough sche...
 25  This is a 3 star matchup. LAC has a neutral sc...
 26  This is a 3 star matchup. SEA has a neutral sc...
 27  This is a 3 star matchup. SF has a neutral sch...
 28  This is a 4 star matchup. LAR has a neutral sc...
 29  This is a 3 star matchup. TB has a neutral sch...
 30  This is a 2 star matchup. TEN has a tough sche...
 31  This is a 3 star matchup. WAS has a neutral sc...

                                                    TE  \
 0   This is a 2 star matchup. ARI has a neutral sc...
 1   This is a 2 star matchup. ATL has a neutral sc...
 2   This is a 4 star matchup. BAL has an easy sche...
 3   This is a 3 star matchup. BUF has a neutral sc...
 4   This is a 4 star matchup. CAR has an easy sche...
 5   This is a 2 star matchup. CHI has a tough sche...
 6   This is a 4 star matchup. CIN has an easy sche...
 7   This is a 3 star matchup. CLE has a neutral sc...
 8   This is a 4 star matchup. DAL has a neutral sc...
 9   This is a 3 star matchup. DEN has a neutral sc...
 10  This is a 3 star matchup. DET has a neutral sc...
 11  This is a 1 star matchup. GB has a tough sched...
 12  This is a 2 star matchup. HOU has a tough sche...
 13  This is a 3 star matchup. IND has a neutral sc...
 14  This is a 3 star matchup. JAC has a neutral sc...
 15  This is a 2 star matchup. KC has a neutral sch...
 16  This is a 2 star matchup. MIA has a tough sche...
 17  This is a 3 star matchup. MIN has a neutral sc...
 18  This is a 3 star matchup. NE has a neutral sch...
 19  This is a 2 star matchup. NO has a tough sched...
 20  This is a 4 star matchup. NYG has an easy sche...
 21  This is a 3 star matchup. NYJ has a neutral sc...
 22  This is a 2 star matchup. LV has a tough sched...
 23  This is a 4 star matchup. PHI has an easy sche...
 24  This is a 3 star matchup. PIT has a neutral sc...
 25  This is a 2 star matchup. LAC has a neutral sc...
 26  This is a 3 star matchup. SEA has a neutral sc...
 27  This is a 4 star matchup. SF has an easy sched...
 28  This is a 4 star matchup. LAR has an easy sche...
 29  This is a 2 star matchup. TB has a tough sched...
 30  This is a 1 star matchup. TEN has a tough sche...
 31  This is a 4 star matchup. WAS has an easy sche...

                                                     K  \
 0   This is a 1 star matchup. ARI has a tough sche...
 1   This is a 1 star matchup. ATL has a tough sche...
 2   This is a 2 star matchup. BAL has a tough sche...
 3   This is a 2 star matchup. BUF has a tough sche...
 4   This is a 4 star matchup. CAR has an easy sche...
 5   This is a 5 star matchup. CHI has an easy sche...
 6   This is a 2 star matchup. CIN has a neutral sc...
 7   This is a 4 star matchup. CLE has a neutral sc...
 8   This is a 3 star matchup. DAL has a neutral sc...
 9   This is a 1 star matchup. DEN has a tough sche...
 10  This is a 5 star matchup. DET has an easy sche...
 11  This is a 5 star matchup. GB has an easy sched...
 12  This is a 2 star matchup. HOU has a tough sche...
 13  This is a 4 star matchup. IND has an easy sche...
 14  This is a 5 star matchup. JAC has an easy sche...
 15  This is a 4 star matchup. KC has an easy sched...
 16  This is a 0 star matchup. MIA has a tough sche...
 17  This is a 3 star matchup. MIN has a neutral sc...
 18  This is a 2 star matchup. NE has a neutral sch...
 19  This is a 5 star matchup. NO has an easy sched...
 20  This is a 1 star matchup. NYG has a tough sche...
 21  This is a 2 star matchup. NYJ has a tough sche...
 22  This is a 3 star matchup. LV has a neutral sch...
 23  This is a 1 star matchup. PHI has a tough sche...
 24  This is a 5 star matchup. PIT has an easy sche...
 25  This is a 4 star matchup. LAC has an easy sche...
 26  This is a 4 star matchup. SEA has a neutral sc...
 27  This is a 2 star matchup. SF has a tough sched...
 28  This is a 2 star matchup. LAR has a tough sche...
 29  This is a 3 star matchup. TB has a neutral sch...
 30  This is a 3 star matchup. TEN has a neutral sc...
 31  This is a 2 star matchup. WAS has a tough sche...

                                                   DST
 0   This is a 5 star matchup. ARI has an easy sche...
 1   This is a 1 star matchup. ATL has a tough sche...
 2   This is a 4 star matchup. BAL has an easy sche...
 3   This is a 5 star matchup. BUF has an easy sche...
 4   This is a 2 star matchup. CAR has a neutral sc...
 5   This is a 3 star matchup. CHI has a neutral sc...
 6   This is a 3 star matchup. CIN has a neutral sc...
 7   This is a 2 star matchup. CLE has a tough sche...
 8   This is a 4 star matchup. DAL has an easy sche...
 9   This is a 4 star matchup. DEN has an easy sche...
 10  This is a 2 star matchup. DET has a tough sche...
 11  This is a 3 star matchup. GB has a neutral sch...
 12  This is a 2 star matchup. HOU has a tough sche...
 13  This is a 2 star matchup. IND has a tough sche...
 14  This is a 3 star matchup. JAC has a neutral sc...
 15  This is a 2 star matchup. KC has a neutral sch...
 16  This is a 4 star matchup. MIA has an easy sche...
 17  This is a 2 star matchup. MIN has a tough sche...
 18  This is a 2 star matchup. NE has a neutral sch...
 19  This is a 4 star matchup. NO has an easy sched...
 20  This is a 4 star matchup. NYG has an easy sche...
 21  This is a 3 star matchup. NYJ has a neutral sc...
 22  This is a 4 star matchup. LV has a neutral sch...
 23  This is a 3 star matchup. PHI has a neutral sc...
 24  This is a 2 star matchup. PIT has a tough sche...
 25  This is a 2 star matchup. LAC has a neutral sc...
 26  This is a 3 star matchup. SEA has a neutral sc...
 27  This is a 2 star matchup. SF has a tough sched...
 28  This is a 5 star matchup. LAR has an easy sche...
 29  This is a 2 star matchup. TB has a tough sched...
 30  This is a 2 star matchup. TEN has a tough sche...
 31  This is a 4 star matchup. WAS has a neutral sc...  ]

In [73]:
sos_df = table[0]

In [76]:
sos_df = sos_df[['Team', 'QB', 'RB', 'WR', 'TE']]

for col in ['QB', 'RB', 'WR', 'TE']:
    sos_df[col] = sos_df[col].astype(str).str.split().str[3]

/Users/ryanashcraft/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [86]:
qb_sos = sos_df[['Team', 'QB']]
rb_sos = sos_df[['Team', 'RB']]
wr_sos = sos_df[['Team', 'WR']]
te_sos = sos_df[['Team', 'TE']]

qb_sos = qb_sos.rename(columns={'Team': 'Team_Name'})
rb_sos = rb_sos.rename(columns={'Team': 'Team_Name'})
wr_sos = wr_sos.rename(columns={'Team': 'Team_Name'})
te_sos = te_sos.rename(columns={'Team': 'Team_Name'})

qb_sos

   Team_Name QB
0        ARI  3
1        ATL  1
2        BAL  4
3        BUF  1
4        CAR  4
5        CHI  5
6        CIN  4
7        CLE  5
8        DAL  4
9        DEN  1
10       DET  3
11        GB  4
12       HOU  2
13       IND  4
14       JAC  3
15        KC  2
16       MIA  1
17       MIN  3
18        NE  2
19        NO  2
20       NYG  3
21       NYJ  2
22        LV  1
23       PHI  4
24       PIT  4
25       LAC  4
26       SEA  4
27        SF  4
28       LAR  3
29        TB  2
30       TEN  2
31       WAS  4

In [90]:
qb_data = qb_2019.merge(qb_sos, on='Team_Name')
rb_data = rb_2019.merge(rb_sos, on='Team_Name')
wr_data = wr_2019.merge(wr_sos, on='Team_Name')
te_data = te_2019.merge(te_sos, on='Team_Name')

In [94]:
qb_data = qb_data.sort_values(by=['Rank'])
rb_data = rb_data.sort_values(by=['Rank'])
wr_data = wr_data.sort_values(by=['Rank'])
te_data = te_data.sort_values(by=['Rank'])

In [96]:
qb_data = qb_data.rename(columns={'QB': 'SoS'})
rb_data = rb_data.rename(columns={'RB': 'SoS'})
wr_data = wr_data.rename(columns={'WR': 'SoS'})
te_data = te_data.rename(columns={'TE': 'Sos'})

In [108]:
import sqlalchemy
from sqlalchemy import create_engine

#create postgres connection string
rds_connection_string = f"postgres:{password}@localhost:5432/fantasy2020"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [106]:
import psycopg2

#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password=password, host='127.0.0.1', port= '5432'
)
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Preparing query to create a database
sql = '''CREATE database Fantasy2020''';

#Creating a database
cursor.execute(sql)
print("Database created successfully........")

#Closing the connection
conn.close()

Database created successfully........

In [116]:
positional_data

[     Rank           Player  CMP  ATT   PCT   YDS  Y/A  TD  INT  SACKS  \
 0       1    Lamar Jackson  265  401  66.1  3127  7.8  36    6     23
 5       2     Dak Prescott  388  596  65.1  4902  8.2  30   11     23
 9       3   Jameis Winston  380  626  60.7  5109  8.2  33   30     47
 13      4   Russell Wilson  341  516  66.1  4110  8.0  31    5     48
 17      5   Deshaun Watson  333  495  67.3  3852  7.8  26   12     44
 ..    ...              ...  ...  ...   ...   ...  ...  ..  ...    ...
 16    135       Geno Smith    0    0   0.0     0  0.0   0    0      0
 39    136        Tim Boyle    3    4  75.0    15  3.8   0    0      0
 73    137  Garrett Gilbert    0    3   0.0     0  0.0   0    0      0
 55    138     Nick Mullens    0    0   0.0     0  0.0   0    0      0
 121   139  Jarrett Stidham    2    4  50.0    14  3.5   0    1      1

      RUSH_ATT  RUSH_YDS  RUSH_TDS  FL   G   FPTS  FPTS/G     OWN Team_Name SoS
 0         176      1206         7   2  15  421.7    28.1  100.0%       BAL   4
 5          52       277         3   2  16  348.9    21.8   98.1%       DAL   4
 9          59       250         1   5  16  335.2    21.0    4.2%        NO   2
 13         75       342         3   2  16  333.5    20.8   99.3%       SEA   4
 17         82       413         7   3  15  332.0    22.1   99.3%       HOU   2
 ..        ...       ...       ...  ..  ..    ...     ...     ...       ...  ..
 16          0         0         0   0   0    0.0     0.0    0.1%       SEA   4
 39          5        -7         0   0   3   -0.1    -0.0    0.0%        GB   4
 73          3        -3         0   0   6   -0.3    -0.1    0.0%       CLE   5
 55          3        -3         0   0   2   -0.3    -0.2    0.1%        SF   4
 121         2        -2         0   0   3   -0.6    -0.2    4.2%        NE   2

 [125 rows x 20 columns],
      Rank            Player  REC  TGT   YDS   Y/R  LG  20+  TD  ATT  REC_YDS  \
 0       1    Michael Thomas  149  185  1725  11.6  49   17   9    1       -9
 11      2      Chris Godwin   86  121  1333  15.5  71   25   9    1        8
 21      3    Kenny Golladay   65  116  1190  18.3  75   22  11    0        0
 33      4       Cooper Kupp   94  134  1161  12.4  66   21  10    2        4
 43      5       Julio Jones   99  157  1394  14.1  54   21   6    2       -3
 ..    ...               ...  ...  ...   ...   ...  ..  ...  ..  ...      ...
 209   445     Marken Michel    0    0     0   0.0   0    0   0    0        0
 210   446    Tommylee Lewis    0    0     0   0.0   0    0   0    0        0
 66    450     Ricardo Louis    0    0     0   0.0   0    0   0    0        0
 277   455  Darrius Shepherd    1    2     1   1.0   1    0   0    0        0
 176   459    Michael Walker    2    3    15   7.5   9    0   0    0        0

      REC_TDS  FL   G   FPTS  FPTS/G     OWN Team_Name SoS
 0          0   0  16  225.6    14.1  100.0%        NO   0
 11         0   0  14  190.1    13.6   99.9%        TB   3
 21         0   1  16  183.0    11.4   99.1%       DET   3
 33         0   0  16  176.5    11.0   97.1%       LAR   1
 43         0   0  15  175.1    11.7  100.0%       ATL   3
 ..       ...  ..  ..    ...     ...     ...       ...  ..
 209        0   0   0    0.0     0.0    0.0%       CAR   1
 210        0   0   0    0.0     0.0    0.0%       CAR   1
 66         0   0   0    0.0     0.0    0.0%       MIA   3
 277        0   1   6   -1.9    -0.3    0.0%        GB   1
 176        0   2   7   -2.5    -0.4    0.0%       JAC   5

 [387 rows x 19 columns],
      Rank               Player  ATT   YDS  Y/A  LG  20+  TD  REC  TGT  \
 0       1  Christian McCaffrey  287  1387  4.8  84    6  15  116  142
 7       2        Derrick Henry  303  1540  5.1  74    9  16   18   24
 14      3          Aaron Jones  236  1084  4.6  56    5  16   49   68
 22      4      Ezekiel Elliott  301  1357  4.5  33    4  12   54   71
 28      5          Dalvin Cook  250  1135  4.5  75    7  13   53   63
 ..    ...                  ...  ...   ...  ...  ..  ...  ..  ...  ...
 225   276         Carlin Isles    0     0  0.0   0    0   0    0    0
 113   278         Tim Flanders    0     0  0.0   0    0   0    0    0
 142   279      Jerick McKinnon    0     0  0.0   0    0   0    0    0
 152   280        Willie Carter    0     0  0.0   0    0   0    0    0
 105   281        Corey Clement    0     0  0.0   0    0   0    0    0

      RUSH_YDS   Y/R  RUSH_TDS  FL   G   FPTS  FPTS/G     OWN Team_Name SoS
 0        1005   8.7         4   0  16  355.2    22.2  100.0%       CAR   4
 7         206  11.4         2   3  15  276.6    18.4  100.0%       TEN   2
 14        474   9.7         3   2  16  265.8    16.6   99.9%        GB   5
 22        420   7.8         2   2  16  257.7    16.1  100.0%       DAL   4
 28        519   9.8         0   2  14  239.4    17.1  100.0%       MIN   3
 ..        ...   ...       ...  ..  ..    ...     ...     ...       ...  ..
 225         0   0.0         0   0   0    0.0     0.0    0.0%       DET   3
 113         0   0.0         0   0   0    0.0     0.0    0.0%        NO   4
 142         0   0.0         0   0   0    0.0     0.0    9.3%        SF   3
 152         0   0.0         0   0   0    0.0     0.0    0.0%       CHI   5
 105         0   0.0         0   2   4   -4.0    -1.0    0.3%       PHI   2

 [231 rows x 20 columns],
      Rank            Player  REC  TGT   YDS   Y/R  LG  20+  TD  ATT  RUSH_YDS  \
 0       1      Travis Kelce   97  136  1229  12.7  47   13   5    1         4
 7       2      Mark Andrews   64   98   852  13.3  51   16  10    0         0
 13      3     George Kittle   85  107  1053  12.4  61   16   5    5        22
 19      4     Darren Waller   90  117  1145  12.7  75   14   3    2         5
 24      5         Zach Ertz   88  135   916  10.4  30   12   6    0         0
 ..    ...               ...  ...  ...   ...   ...  ..  ...  ..  ...       ...
 48    241  Stephen Anderson    0    0     0   0.0   0    0   0    0         0
 12    242      Jerell Adams    0    0     0   0.0   0    0   0    0         0
 186   243   Richard Rodgers    0    0     0   0.0   0    0   0    0         0
 18    245       Jordan Reed    0    0     0   0.0   0    0   0    0         0
 113   247      Connor Davis    0    0     0   0.0   0    0   0    0         0

      RUSH_TDS  FL   G   FPTS  FPTS/G     OWN Team_Name Sos
 0           1   1  16  157.3     9.8  100.0%        KC   2
 7           0   1  15  143.2     9.5   99.6%       BAL   4
 13          0   0  14  137.5     9.8   99.9%        SF   4
 19          0   1  16  131.0     8.2   98.4%        LV   2
 24          0   1  15  127.6     8.5   99.9%       PHI   4
 ..        ...  ..  ..    ...     ...     ...       ...  ..
 48          0   0   1    0.0     0.0    0.0%       LAC   2
 12          0   0   1    0.0     0.0    0.0%       BAL   4
 186         0   0   2    0.0     0.0    0.0%       WAS   4
 18          0   0   1    0.0     0.0    0.8%        SF   4
 113         0   0   0    0.0     0.0    0.0%       NYJ   3

 [213 rows x 19 columns]]

In [122]:
names = ['qb', 'rb', 'wr', 'te']
i = 0

#load salary df to salaries table
for db in [qb_data, rb_data, wr_data, te_data]:
    db_name = names[i]
    db.to_sql(name=db_name, con=engine, if_exists='replace', index=False)
    i+=1